<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post-it</title>
    <link rel="icon" href="static/img/page_icon.png">
    {% include ['layout_partials/style.html'] %}
    {% include ['layout_partials/fonts.html'] %}
</head>
<body background="static/img/post-it.jpg">

<div>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-light" style="opacity: 0.7">
        <div class="container-fluid">
            <a class="navbar-brand" href="/back"><img src="../static/img/post_eat.png"
                                                      style="width: 20px ;height: 20px">Post-Eat</a>
        </div>
        <div>
            <form class="d-flex">
                <input class="form-control me-2" type="text" id="get_workspace">
                <button class="btn btn-primary" type="button" id="show_copy_workspace" onclick="get_workspace_func()">Show</button>
            </form>
        </div>
    </nav>
</div>
<div class="container-fluid">

    <!--Postit note area-->
    <div class="notes-field">
        <ul>
            {% for postit in postit_list %}
                <li onclick="open_edit_modal('{{ postit.title }}','{{ postit.note }}','{{ postit.uuid }}')">
                    <a href="#">
                        <div class="btn-group" style="float: right">
                            <!--Delete Button-->
                            <form action="/del/{{ postit.id }}" method="post">
                                <button type="submit" name="del_button" class="btn btn-outline-secondary">
                                    <i class="fa fa-trash-can"></i>
                                </button>
                            </form>
                            <!--Delete Button-->
                            <!--share button-->
                            <button type="button" name="share_button" class="btn btn-outline-secondary"
                                    onclick="open_share_modal('{{ postit.uuid }}')">
                                <i class="fa-solid fa-share-from-square"></i>
                            </button>
                            <!--share button-->

                            <!--edit button-->
                            <button type="submit" name="edit_button" class="btn btn-outline-secondary"
                                    onclick="open_edit_modal('{{ postit.title }}','{{ postit.note }}','{{ postit.uuid }}')">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <!--edit button-->

                        </div>
                        <h2 id="myChangeField">{{ postit.title }}</h2>
                        <p> {{ postit.note }}</p>
                    </a>
                </li>


            {% endfor %}
            <li><!--Add postit button-->
                <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                   style="width: 5em;height: 5em;border-radius:5em;overflow: hidden ">
                    <center><i class="fa-solid fa-plus"></i></center>
                </a>
            </li>
        </ul>
    </div>

    <!-- share modal -->
    <div class="modal fade" id="share_note" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="border:transparent">
                <div class="modal-body">
                    <ul>
                        <li>

                            <a href="#" id="go_single_note">
                                <p id="copy_uuid">shre link stands here!</p>
                            </a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>    <!-- share modal -->


    <!-- add Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel" style="color: black">Add Note</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            style="background-color: transparent;border: 0px">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <label for="title" style="color: black">Title:</label>
                            <input type="text" class="form-control" placeholder="Enter Title" name="title">
                        </div>
                        <div class="form-group">
                            <label for="pwd" style="color: black">Note:</label>
                            <textarea type="text" class="form-control" placeholder="Enter Note" name="note"></textarea>
                        </div>
                        <center>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>    <!-- add Modal -->
    <!--Edit Modal-->
    <div class="modal fade" id="edit_note_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel" style="color: black">Edit Note</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            style="background-color: transparent;border: 0px">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/edit-note/" method="post">
                        <div class="form-group">
                            <label for="title" style="color: black">Edit Title:</label>
                            <input type="text" class="form-control" placeholder="Enter Title" name="edited_title"
                                   id="postit_edit_title">
                        </div>
                        <div class="form-group">
                            <label for="pwd" style="color: black">Note:</label>
                            <textarea type="text" class="form-control" placeholder="Enter Note" name="edited_note"
                                      id="postit_edit_content"></textarea>
                        </div>
                        <div hidden>
                            <input type="text" value="" id="hidden_uuid" name="hidden_uuid">
                        </div>
                        <center>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div><!--Container-->


{% include ['layout_partials/scripts.html'] %}
<script>
</script>
</body>
</html>