<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Post-it</title>
    <link rel="icon" href="static/img/page_icon.png">
    {% include ['layout_partials/style.html'] %}
    {% include ['layout_partials/fonts.html'] %}
</head>
<body>

<header class="Header">
    <div class="Container Header-container">
        <a href="/back" class="Header-logo">
            <i class="fa-solid fa-note" style="color:#6C757D;letter-spacing: 1px;font-size: 1.5em">POST IT</i>
        </a>
        <div>
            <button class="Header-menu btn btn-outline-secondary" onclick="location.href='/workspace_table'"><i
                    class="fa-solid fa-list" style="letter-spacing: 1px"> Note List</i></button>
            <button class="Header-menu btn btn-outline-secondary" id="show_copy_workspace" onclick="get_workspace_func()"><i
                    class="fa-solid fa-floppy-disk" style="letter-spacing: 1px"> Save Workspace</i></button>
        </div>
    </div>
</header>


<div class="Container">

    <!--Postit note area-->
    <div class="notes-field">
        <ul>
            {% for postit in postit_list %}
                <li id="{{ postit.id }}">
                    <div class="fancy-postit" onclick="flip_postit({{ postit.id }})">
                        <div class="btn-group" style="float: right;max-width: 120px ">
                            <!--Delete Button-->
                            <button type="button" name="del_button" class="btn btn-outline-secondary"
                                    onclick="del_button('{{ postit.id }}')">
                                <i class="fa fa-trash-can"></i>
                            </button>
                            <!--Delete Button-->

                            <!--share button-->
                            <button type="button" name="share_button" class="btn btn-outline-secondary"
                                    onclick="open_share_modal('{{ postit.uuid }}')">
                                <i class="fa-solid fa-share-from-square"></i>
                            </button>
                            <!--share button-->

                            <!--edit button-->
                            <button type="button" name="edit_button" class="btn btn-outline-secondary"
                                    onclick="open_edit_modal('{{ postit.title }}','{{ postit.uuid }}')">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                            <!--edit button-->
                        </div>
                        <div>
                            <div id="front_{{ postit.id }}" style="width: 100%;display: flex; align-items: center; justify-content: center; padding-top: 20px">
                                <center><b id="myChangeField">{{ postit.title }}</b></center>
                            </div>
                            <div id="back_{{ postit.id }}" style="display: none">
                                <span id="text_{{ postit.uuid }}"> {{ postit.note | replace('\n', '\n<hr>') | safe }}</span>
                            </div>
                        </div>
                    </div>
                </li>

            {% endfor %}
            <li><!--Add postit button-->
                <div class="add_content fancy-postit" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                     style="overflow: hidden;padding: 30% 40%">
                    <div><i class="fa-solid fa-plus" style="font-size: 40px;display: flex;margin-left: auto;margin-right: auto"></i></div>
                </div>
            </li>
        </ul>
    </div>


{% include ['modals.html'] %}

</div><!--Container-->

{% include ['layout_partials/scripts.html'] %}
</body>
</html>


