<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ postit.title }}</title>
    <link rel="icon" href="../static/img/page_icon.png">
    {% include ['layout_partials/style.html'] %}
    {% include ['layout_partials/fonts.html'] %}
</head>
<body background="../static/img/post-it.jpg">
<div>
    <nav class="navbar navbar-expand-sm bg-secondary navbar-light" style="opacity: 0.7">
        <div class="container-fluid">
            <a class="navbar-brand" href="/back">
                <i class="fa-solid fa-ghost " style="color: yellow"></i> Post-Eat                       <!--Değişecek-->
            </a>
        </div>
    </nav>
</div>
<div class="container-fluid notes-field">
    <ul style="margin-top: 12em">
        <li>
            <div class="fancy-postit">
                <button type="button" href="/back" class="btn btn-outline-secondary" style="float: right" hidden>
                    <i class="fa-regular fa-bookmark"></i>
                </button>
                <div contenteditable>
                    <h2>{{ postit.title }}</h2>
                    <p>{{ postit.note }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>