<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ postit.title }}</title>
    <link rel="icon" href="../static/img/page_icon.png">
    {% include ['layout_partials/style.html'] %}
    {% include ['layout_partials/fonts.html'] %}
</head>
<body background="../static/img/post-it.jpg">
<div>
   <header class="Header">
    <div class="Container Header-container">
        <a href="/back" class="Header-logo" >
        <img src="../static/img/page_icon.png" style="width:40px">
        <i class="fa-solid fa-note" style="color:#6C757D;letter-spacing: 1px">POST-IT</i>
        </a>
        <button class="Header-menu btn btn-outline-secondary" id="show_copy_workspace" onclick="get_workspace_func()"><i class="fa-solid fa-floppy-disk" style="letter-spacing: 1px"> Save Workspace</i></button>


    </div>
</header>
</div>
<div class="container notes-field">
    <ul style="margin-top: 12em">
        <li>
            <div class="fancy-postit" contenteditable="">
                <button type="button" href="/back" class="btn btn-outline-secondary" style="float: right" hidden>
                    <i class="fa-regular fa-bookmark"></i>
                </button>
                <div >
                    <h2>{{ postit.title }}</h2>
                    <p>{{ postit.note }}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>