.items {
  display: inline-flex;
  padding-left: 15px;


  &-cards {
    margin-top: 50px;
    border: 1px solid rgba(206, 206, 206, 1);
    margin-right: 15px;
    border-radius: 6px;
    height: 575px;
    background-color: rgba(160, 163, 189, 0.43);


    &-header {
      display: inline-flex;
      justify-content: center;
      align-items: center;


      &-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        margin-top: 14px;
        margin-left: 19px;
        margin-right: 12px;
      }

      &-title {
        color: rgba(66, 66, 101, 1);
        font-family: $font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        margin-top: 14px;
        line-height: normal;

        & p {
          color: $info-color;
          font-family: $font;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-top: -3px;

        }
      }

      &-info {
        float: right;
        margin-top: 6px;
        margin-right: 8px;
      }
    }

    &-body {
      border-top: 1px solid rgba(206, 206, 206, 1);
      margin-top: 12px;
      background-color: rgba(255, 255, 255, 1);
      border-radius: 15px 15px 5px 5px;

      &-shareinfo {
        width: 100%;
        color: $info-color;
        font-family: $font;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        padding-right: 20px;
        padding-left: 20px;

        &-twitter {
          border-bottom: 1px solid rgba(240, 240, 240, 1);
          border-right: 1px solid rgba(240, 240, 240, 1);
          width: max-content;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        &-audience {
          border-bottom: 1px solid rgba(240, 240, 240, 1);
          width: max-content;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        &-news {
          border-right: 1px solid rgba(240, 240, 240, 1);
          width: max-content;
          padding-top: 12px;
          padding-bottom: 12px;
        }

        &-Repos {
          width: max-content;
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }

      &-Score {
        border-top: 1px solid rgba(240, 240, 240, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &-Cvss {
          display: inline-flex;
          color: white;
          margin-top: 12px;
          margin-bottom: 5px;
          border-radius: 6px;
          background-color: rgba(239, 68, 68, 1);
          margin-right: 10px;
          padding-left: 10px;
          position: relative;
          font-family: $font;
          font-size: 11px;
          font-weight: 500;
          line-height: 16.5px;
          letter-spacing: -0.01em;
          text-align: left;

          & span {
            font-family: $font;
            font-size: 11px;
            font-weight: 800;
            line-height: 16.5px;
            letter-spacing: -0.01em;
            text-align: left;
            margin-left: 1%;
          }

          & p {
            margin-left: 7px;
          }

          & svg {
            margin-top: 2px;
          }

          &-content {
            padding-top: 7px;
            width: 100%;
            display: flex;
            height: 32px;
          }
        }


        &-Svrs {
          display: inline-flex;
          color: white;
          margin-top: 12px;
          margin-bottom: 5px;
          border-radius: 6px;
          background-color: rgba(239, 68, 68, 1);
          margin-left: 10px;
          padding-left: 10px;
          position: relative;
          font-family: $font;
          font-size: 11px;
          font-weight: 500;
          line-height: 16.5px;
          letter-spacing: -0.01em;
          text-align: left;


          & span {
            font-family: $font;
            font-size: 11px;
            font-weight: 800;
            line-height: 16.5px;
            letter-spacing: -0.01em;
            text-align: left;
            margin-left: 1%;
          }

          & p {
            margin-left: 7px;
          }

          & svg {
            margin-top: 2px;
          }

          &-content {
            padding-top: 7px;
            width: 100%;
            display: flex;
            height: 32px;
          }
        }
      }

      &-info {
        padding: 13px 19px 11px 19px;
        font-family: $font;
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        color: rgba(38, 38, 38, 1);
        border-bottom: 1px solid rgba(240, 240, 240, 1);

        & a {
          color: rgba(59, 130, 246, 1);
          font-weight: 600;
        }


      }


      &-Tabs {
        display: inline-flex;
        overflow-x: auto;
        width: 100%;
        padding-top: 10px;
        padding-left: 22.5px;
        padding-bottom: 10px;
        font-family: $font;
        color: rgba(118, 118, 118, 1);
        font-size: 12px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: -10px;


        &-twitter {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          position: relative;
          padding: 10px 6px 19px 6px;
          border-bottom: 1px solid rgba(206, 206, 206, 1);


          & svg {
            width: 14px;
            height: 14px;
            fill: rgba(118, 118, 118, 1);
            margin-right: 3%;

          }

          &:hover {
            color: rgba(255, 69, 98, 1);
            fill: rgba(255, 69, 98, 1);
            border-bottom: 2px solid rgba(255, 69, 98, 1);
          }

        }

        &-product {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 10px 6px 10px 6px;
          border-bottom: 1px solid rgba(206, 206, 206, 1);

          & svg {
            width: 14px;
            height: 14px;
            margin-right: 3%;
          }

          &:hover {
            color: rgba(255, 69, 98, 1);
            fill: rgba(255, 69, 98, 1);
            border-bottom: 2px solid rgba(255, 69, 98, 1);
          }
        }

        &-news {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 10px 6px 10px 6px;
          border-bottom: 1px solid rgba(206, 206, 206, 1);

          & svg {
            width: 14px;
            height: 14px;
            margin-right: 3%;
          }

          &:hover {
            color: rgba(255, 69, 98, 1);
            fill: rgba(255, 69, 98, 1);
            border-bottom: 2px solid rgba(255, 69, 98, 1);
          }

        }

        &-repositories {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 10px 6px 10px 6px;
          border-bottom: 1px solid rgba(206, 206, 206, 1);


          & svg {
            width: 14px;
            height: 14px;
            margin-right: 3%;
          }

          &:hover {
            color: rgba(255, 69, 98, 1);
            fill: rgba(255, 69, 98, 1);
            border-bottom: 2px solid rgba(255, 69, 98, 1);
          }
        }

        &-Content {
          overflow: hidden;
          overflow-y: auto;

          &-twitter {
            height: 223px;

            &-tweets {
              border-bottom: 1px solid rgba(206, 206, 206, 1);

              &:last-child {
                border-bottom: none;
              }

              &-header {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 14px;
                display: inline-flex;
                margin-left: 20px;
                margin-top: 15px;

                & img {
                  border-radius: 50%;
                  width: 34px;
                  height: 34px;
                }

                & span {

                  font-family: $font;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 19px;
                  text-align: left;
                }

                & p {
                  color: $info-color;
                  font-family: $font;
                  font-size: 7px;
                  font-weight: 400;
                  line-height: 11px;
                  letter-spacing: 0em;
                  text-align: left;
                }

                &-username {
                  margin-left: 9px;
                  padding-top: -3px;
                }

                &-time {
                  float: right;
                  color: $info-color;
                  font-family: $font;
                  font-size: 10px;
                  font-weight: 500;
                  line-height: 16px;
                  letter-spacing: 0em;

                  &-text {
                    font-size: 8px;
                  }

                  & svg {
                    width: 8px;
                    height: 10px;
                  }

                  & span {
                    margin-left: 1 spx;
                    padding: -1px;
                    font-family: $font;
                    font-size: 8px;
                    font-weight: 400;
                    text-align: left;
                  }
                }
              }

              &-content {
                font-family: $font;
                font-size: 8px;
                font-weight: 300;
                line-height: 13px;
                letter-spacing: 0em;
                text-align: left;
                margin-left: 20px;
                margin-right: 20px;
                padding-bottom: 15px;
              }

              &-interaction {
                display: inline-flex;
                color: $info-color;
                font-family: $font;
                font-size: 9px;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0em;
                text-align: left;

                &-comment {
                  & svg {
                    width: 12px;
                    height: 12px;
                    fill: $info-color;
                  }
                }

                &-retweet {
                  & svg {
                    width: 14px;
                    height: 14px;
                    fill: $info-color;
                  }
                }

                &-likes {
                  float: right;

                  & svg {
                    width: 14px;
                    height: 14px;
                    fill: $info-color;
                  }
                }
              }
            }
          }

          &-Products {
            height: 223px;
            display: none;

            &-Product {
              border-bottom: 1px solid rgba(206, 206, 206, 1);

              &:last-child {
                border-bottom: none;
              }

              & span {
                margin-left: 20px;
                font-family: $font;
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0em;
              }

              &-id {
                margin-right: 20px;
                color: $info-color;
                font-family: $font;
                font-size: 7px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0em;
              }

              & p {
                margin-left: 20px;
                margin-right: 20px;
                font-family: $font;
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0em;
                color: #daa65b;
              }
            }
          }

          &-News {
            display: none;
            height: 224px;

            &-News {
              margin-right: 20px;
              margin-left: 20px;
              padding: 8px;
              border-bottom: 1px solid $info-color;

              &:last-child {
                border-bottom: none;
              }

              & svg {
                width: 14px;
                height: 14px;
                fill: $info-color;
              }

              &-Title {
                font-family: $font;
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0em;
              }

              &-date {
                margin-left: 20px;
                margin-right: 20px;
                font-family: $font;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                color: $info-color;
              }

              & p {
                margin-left: 20px;
                margin-right: 20px;
                font-family: $font;
                font-size: 12px;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0em;
                color: $info-color;

                & a {
                  text-decoration: none;
                  color: rgba(59, 130, 246, 1);
                  font-weight: 600;
                }
              }

              &-Tags-Container {
                display: inline-flex;

                &-Tags {
                  padding: 2px 5px;
                  border: 1px solid $info-color;
                  border-radius: 3px;
                  color: $info-color;
                  font-size: 8px;
                  color: $info-color;
                  width: max-content;
                  margin-right: 4px;

                  &:last-child {
                    margin-right: 0px;
                  }
                }
              }
            }
          }

          &-Repository {
            height: 224px;
            display: none;


            &-items {
              &-header {
                display: inline-flex;
                margin-right: 20px;
                margin-left: 20px;

                &-title {
                  & svg {
                    width: 12px;
                    height: 12px;
                    fill: $second-color;
                    margin-right: 2px;
                  }

                  & span {
                    font-family: $font;
                    font-size: 11px;
                    font-weight: 500;
                    line-height: 17px;
                    letter-spacing: 0em;
                    text-align: left;
                  }
                }

                &-git {
                  display: flex;

                  &-star {
                    margin-right: 4px;

                    & svg {
                      width: 12px;
                      height: 12px;
                      fill: $warning-color;
                      margin-right: -2px;
                    }

                    & span {
                      color: $warning-color;
                      font-family: $font;
                      font-size: 10px;
                      font-weight: 500;
                      line-height: 16px;
                      letter-spacing: 0em;
                      text-align: left;

                    }
                  }

                  &-source {
                    & svg {
                      width: 12px;
                      height: 12px;
                      fill: $info-color;
                    }

                    & span {
                      margin-left: -4px;
                      color: $info-color;
                      font-family: $font;
                      font-size: 10px;
                      font-weight: 500;
                      line-height: 16px;
                      letter-spacing: 0em;
                      text-align: left;

                    }

                  }
                }
              }

              &-content {

                margin-right: 20px;
                margin-left: 20px;
                border-bottom: 1px solid $info-color;

                &:last-child {
                  border: none;
                }

                & span {
                  padding-left: 4px;
                  padding-right: 4px;
                  font-family: $font;
                  font-size: 8px;
                  font-weight: 300;
                  line-height: 13px;
                  letter-spacing: 0em;
                  text-align: left;

                }
              }

              &-date {
                display: none;
                margin-right: 20px;
                margin-left: 20px;

                & span {
                  color: $info-color;
                  font-family: $font;
                  font-size: 8px;
                  font-weight: 500;
                  line-height: 12px;
                  letter-spacing: 0em;
                  text-align: left;
                }

                & svg {
                  width: 7px;
                  height: 8px;
                  fill: $info-color;
                }
              }

            }

          }
        }
      }
    }
  }
}

