.spidericon {
            width: 24px;
            height: 24px;
            fill: rgba(245, 158, 11, 1);
        }

        .infoicon {
            fill: rgba(255, 255, 255, 1);;
            width: 22px;
            height: 22px;
        }

        .kusicon {
            fill: rgba(160, 163, 189, 1);
            width: 14px;
            height: 11.38px;
        }

        .newsicon {
            fill: rgba(160, 163, 189, 1);
            width: 12px;
            height: 10px;
        }

        .githubicon {
            fill: rgba(160, 163, 189, 1);
            width: 12px;
            height: 10px;
        }
