/* font-family: 'Roboto Slab', serif; başlık fontu*/
.add_content {
    width: 5em;
    height: 5em;
    border-radius: 15px;
    overflow: hidden
}

.add_content_modal_body {
    background-color: rgba(255, 255, 255, 08);
    border: 0px transparent;
    max-width: 43em;
    max-height: 20em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;

}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.deleted {
    opacity: 0.6;
}

.badge-deleted {
    background-color: red;
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
}
